# Ignore the tristar directory
tristar/

# Ignore the tristar.zip file
tristar.zip

# Ignore dataset zip file
datasets.zip

# Ignore dataset folders
depth/data/
rgb/data/
masks/
thermal/data/
labels/

# ignore sort library
sort/

# ignore pycache
__pycache__


# ignore NEW
NEW/
